@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  background: #9333ea !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #9333ea !important;
  transition: transform 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
}

.swiper-slide {
  transition: transform 0.5s ease;
}

.swiper-slide-active {
  transform: scale(1.1);
}